.roi-titlebar {
  height: 40px;
  width: 100%;
  color: black;
  background: #C8C7CC;
  display: table;
}

.roi-titlebar > p {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin: 0px;
  display: table-cell;
  vertical-align: middle;
}
