<ion-navbar *navbar>
  <ion-title>Reimbursement</ion-title>
</ion-navbar>

<ion-content>
  <ion-item>
    <ion-label>Select Region</ion-label>
    <ion-select [(ngModel)]="roiData.region" (ionChange)="onChange()">
      <ion-option *ngFor="let region of regions" [value]="region">{{region.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="roiData.region && roiData.region.states.length">
    <ion-label>Select state</ion-label>
    <ion-select [(ngModel)]="roiData.state">
      <ion-option *ngFor="let state of roiData.region.states" [value]="state">{{state.name}}</ion-option>
    </ion-select>
  </ion-item>


  <ion-item *ngFor="let procedure of roiData.procedures">
    <ion-label>{{procedure.name}}<div >Patient Fee ($)</div></ion-label>
    <ion-input type="number" [(ngModel)]="procedure.numberOfPatients"></ion-input>
  </ion-item>
</ion-content>

<ion-footer-bar class="footer">
  <button light (click)="next()" class="positive-button">Calculate Revenue</button>
</ion-footer-bar>
