<ion-navbar *navbar>
  <ion-title>Reimbursement</ion-title>
</ion-navbar>

<ion-content>
  <ion-item>
    <ion-label>Select Region</ion-label>
    <ion-select [(ngModel)]="roiData.region" (ionChange)="onChange()">
      <ion-option *ngFor="let region of regions" [value]="region">{{region.name}}</ion-option>
    </ion-select>
  </ion-item>

  <ion-item *ngIf="roiData.region && roiData.region.states.length">
    <ion-label>Select state</ion-label>
    <ion-select [(ngModel)]="roiData.state">
      <ion-option *ngFor="let state of roiData.region.states" [value]="state">{{state.name}}</ion-option>
    </ion-select>
  </ion-item>

  <div *ngFor="let procedure of roiData.procedures">
    <ion-item>
      <ion-label>{{procedure.name}}</ion-label>
      <ion-select [(ngModel)]="procedure.option">
        <ion-option *ngFor="let option of procedure.options" [value]="option">{{option.name}} (${{procedure.value[roiData.region.id][option.id]}})</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Patient Fee ($)</ion-label>
      <ion-input type="number" [(ngModel)]="procedure.numberOfPatients"></ion-input>
    </ion-item>
  </div>
</ion-content>

<ion-footer-bar class="footer">
  <button light (click)="next()" class="positive-button">Calculate Revenue</button>
</ion-footer-bar>
