<ion-navbar>
  <ion-title>Practice Overview</ion-title>
</ion-navbar>
<ion-content class="home">
  <div padding>
    <ion-item>
      <ion-label>Select Product</ion-label>
      <ion-select [(ngModel)]="roiData.product" (ionChange)="onChange()">
        <ion-option *ngFor="let product of products" [value]="product">{{product.name}}</ion-option>
      </ion-select>
    </ion-item>

    <div *ngIf="roiData.procedures">
      <!-- Go insied ONLY IF there is a selected product -->
      <ion-item *ngFor="let procedure of roiData.procedures">
        <ion-label>{{procedure.name}}<div >Number of patients treated</div></ion-label>
        <ion-input type="number" [(ngModel)]="procedure.numberOfPatients"></ion-input>
      </ion-item>


    </div>
  </div>
</ion-content>

<ion-footer-bar class="footer">
  <button light (click)="next()" class="positive-button">Reimbursement</button>
</ion-footer-bar>
